@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

*::selection {
     @apply bg-yellow-primary;
     @apply text-white;
}

.container {
    @apply max-w-[1170px];
    @apply mx-auto;
    @apply px-5;
}

img {
    @apply w-full;
}

p {
    @apply text-[15px];
    @apply leading-[26px];
}

.footer {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('/assets/images/footer.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}